<!-- header init -->
<header class="header">
  <div class="container">
    <div class="logo">
      <img src="assets/img/logo.png" alt="Логотип страницы" />
    </div>
    <nav class="menu">
      <ul class="menu-list">
        <li>
          <a (click)="smoothScrollToAnchor('products')">Каталог</a>
        </li>
        <li>
          <a (click)="smoothScrollToAnchor('love')">О Нас</a>
        </li>
        <li>
          <a (click)="smoothScrollToAnchor('order')">Оформление заказа</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
