header {
  padding: 40px 0; 
}

.header .container {
display: flex;
align-items: center;
}

.header .logo img {
vertical-align: bottom;
}

.header .menu {
margin-left: 250px;
}

.header .menu-list {
list-style: none;
display: flex;
gap: 50px;
}

.header .menu-list li a {
font-size: 16px;
line-height: 13px;
cursor: pointer;
text-decoration: none;
color: var(--cl-white);
}

.header .menu-list li:hover a { 
border-bottom: 2px solid var(--cl-white)
}