<!-- love init -->
<section class="love" id="love">
  <div class="container">
    <div class="common-title">Пекарня с любовью</div>
    <div class="love-items">
      <div class="love-item love-item-white">
        <div class="love-item-title">
          Приготовлено с заботой, чтобы радовать вас каждый день
        </div>
        <div class="love-item-text">
          Мы с гордостью представляем наше печенье, которое мы выпекаем
          вручную каждый день с 1995 года, используя только лучшие
          ингредиенты. Погрузитесь в мир изысканных лакомств,
          приготовленных с применением передовых технологий, и насладитесь
          их неповторимым вкусом.
        </div>
      </div>
      <div class="love-item love-item-image">
        <img src="assets/img/love.png" alt="любовь" />
      </div>
    </div>
  </div>
</section>