:root {
  --cl-white: white;
  --cl-black: black;
  --cl-5243f4: #5243f4;
  --cl-eeeeee: #eeeeee;
  --cl-5d3427: #5d3427;
  --cl-5243f4: #5243f4;
  --cl-3b2cd8: #3b2cd8;
  --cl-gray: gray;
  --cl-343434: #343434;
}
